// Place all the styles related to the api/reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#ReviewForm {
  min-height: 300px;
  width: 100%;

  margin-top: 40px;
  border-top: 1px solid #dedede;
  padding: 20px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#ReviewForm-title {
  font-size: 25px;
  margin-bottom: 10px;
}

#ReviewForm-rating {
  height: 40px;
}

#ReviewForm-body {
  min-height: 100px;
  box-sizing: border-box;
  padding: 10px;
}

#ReviewForm-submit {
  height: 40px;
  width: 250px;
  background-color: #ff5a5f;
  border-radius: 3px;
  margin: 10px 0;
  outline: none;
  cursor: pointer;

  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
}

.ReviewForm-input {
  max-width: 500px;
  outline: none;
  background-color: #fff;
  font-size: 15px;
  margin: 10px 0;
  border-radius: 3px;
  border: 1px solid #cecece;
}

#Reviews-head {
  height: 100px;
  width: 100%;

  box-sizing: border-box;
  border-top: 1px solid #cecece;
  padding-bottom: 20px;
  margin-top: 30px;

  display: flex;
  align-items: flex-end;
}

#Reviews-head h4 {
  font-size: 28px;
  color: #444;
  margin-right: 20px;
}

#Reviews-head div {
  width: 115px;
  display: flex;
  justify-content: space-between;
}

#Reviews-ul {
  display: flex;
  flex-direction: column-reverse;
}

#Review {
  min-height: 50px;

  box-sizing: border-box;

  border-top: 1px solid #cecece;
  padding-top: 20px;
  padding-bottom: 30px;
}

#Review-authorInfo {
  display: flex;
  margin-bottom: 20px;
}

#Review-authorInfo--image {
  height: 50px;
  width: 50px;
  min-height: 50px;
  min-width: 50px;
  max-height: 50px;
  max-width: 50px;
  background-color: lightgrey;
  border-radius: 50%;
  margin-right: 15px;
}

#Review-authorInfo--name {
  font-size: 21px;
}

#Review-authorInfo--createdAt {
  font-size: 15px;
}
