// Place all the styles related to the api/spots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Spot Component

.null-user-warning {
  color: red;
  font-family: sans-serif;
  font-size: 13px;
  text-align: center;
}

.spot-head {
  width: 100%;
  height: 604px;
  background-color: whitesmoke;

  display: flex;
  align-items: flex-end;
}

.head-img {
  height: 100%;
  width: 100%;
}

.all-photos-button {
  width: 120px;
  height: 35px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #aaa;
  border-radius: 4px;
  margin: 20px 20px;

  background-color: #fff;

  font-family: sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.all-photos-button:hover {
  background-color: #fafafa;
  border: 1px solid #888;

  transition: background .2s ease-in;
  transition: border .2s ease-in;

  cursor: pointer;
}

.spot-info-container {
  display: flex;
  border-bottom: 1px solid #dedede;
  height: 200px;
  width: 100%;

  font-family: sans-serif;
}

.spot-info {
  width: 55%;
  height: 100%;
  display: flex;
}

.host-info-side {
  height: 100%;
  width: 20%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.host-info-side-pic {
  background-color: whitesmoke;

  height: 90px;
  width: 90px;

  min-height: 90px;
  min-width: 90px;

  border-radius: 50%;
}

.host-info-side-name {
  width: 100%;
  height: 15%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #484848;
}

.spot-info-side {
  height: 100%;
  width: 80%;
}

.spot-info-side-top {
  width: 100%;
  height: 35%;
  padding: 20px;
  color: #484848;
}

.spot-info-side-top h2 {
  font-size: 30px;
  margin-bottom: 5px;
}

.spot-info-side-top p {
  font-size: 13px;
}

.spot-info-side-bottom {
  width: 100%;
  height: 45%;

  font-size: 13px;
  display: flex;
}

.spot-info-side-bottom div {
  height: 100%;
  width: 33.333333%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #484848;
}

.spot-icon {
  height: 48%;
  width: 25%;
}

.spot-icon-wide {
  height: 48%;
  width: 31%;
}

.price-info {
  width: 25%;
  height: 350px;
  margin-top: -42px;
}

.price-info-head {
  height: 12%;
  width: 100%;
  color: #fff;

  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid #000;
  border-bottom: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-info-head div {
  margin: 0 15px;
  font-size: 23px;
}

.price-info-head p {
  margin: 0 15px;
  font-size: 14px;
  font-weight: 100;
}

.price-info-form {
  width: 100%;
  height: 84%;
  border: 1px solid #dedede;
  background-color: #fff;

  padding: 10px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.dates-guests {
  color: #484848;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 14px;
  width: 90%;
}

.dates-guests label {
  margin-bottom: 10px;
}

.react-datepicker__input-container {
  width: 95%;
  height: 50%;
  border: none;
}

.react-datepicker__input-container input {
  width: 100%;
  height: 80%;
  padding-left: 5px;
  font-size: 13px;

  border: 0;
  border: 1px solid #dedede;
  border-radius: 2.5px;
}

.react-datepicker__input-container select {
  outline: none;

  -webkit-appearance: none;
  -webkit-border-radius: 0px;

  width: 100%;
  height: 80%;
  padding-left: 5px;
  font-size: 13px;

  border: 0;
  border: 1px solid #dedede;
  border-radius: 2.5px;

  background-color: #fff;
}

.dates-guests-date {
  width: 30%;
  height: 65px;

  display: flex;
  flex-direction: column;
}

.dates-guests-guest {
  width: 20%;
  height: 73px;

  display: flex;
  flex-direction: column;

  margin-bottom: -8px;
}

.price-calculations {
  width: 90%;
  height: 40%;
}

.price-calculations-row {
  width: 93%;
  height: 33.3333%;
  border-bottom: 1px solid #dedede;

  padding: 0 10px;

  font-size: 13.5px;
  color: #484848;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-calculations-row:last-child {
  border: 0;
}

.request-to-book {
  width: 90%;
  height: 45px;

  color: #fff;
  font-weight: 500;
  font-size: 15px;

  background-color: #ff5a5f;
  border-radius: 3px;
}

.request-to-book:hover {
  filter: brightness(130%);
  transition: filter .15s ease-in;
  cursor: pointer;
}

.margin-left {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  width: 10%;
  height: 100%;
}

.margin-right {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  width: 10%;
  height: 96%;
}

.spot-body {
  display: flex;
}

.detail-info {
  width: 52%;
  height: 450px;
  padding: 20px;
  font-family: sans-serif;
  color: #484848;
}

.detail-info h2 {
  font-size: 17px;
  font-weight: 700;

  margin-top: 30px;
  margin-bottom: 20px;
}

.detail-info p {
  font-size: 13px;
  font-weight: 100px;
  line-height: 17px;
}

.spot-body-placeholder {
  width: 25%;
}


// Host Component

.host-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 604px;

  background: url("https://res.cloudinary.com/ddgtwtbre/image/upload/v1478417285/tropical-resort_jxgfxt.jpg");
  background-size: cover;
  background-position: 50% 50%;

  font-family: sans-serif;
}

// .host-head:hover {
//   z-index: -2;
//   cursor: pointer;
//   filter: brightness(106%);
//   transition: filter .15s ease-in;
// }

.host-button {
  padding: 15px;
  border: 2px solid whitesmoke;
  border-radius: 5px;
}

.host-button:hover {
  cursor: pointer;
  filter: brightness(150%);
}

.host-button:hover .host-head{
  filter: brightness(120%);
  transition: filter .15s ease-in;
}

.host-body {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 400px;
  width: 100%;
}

.listings {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: 80%;
  height: 100%;

  font-family: sans-serif;
}

.listings-ul {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
}

.listings-header {
  margin-top: 80px;
  margin-bottom: 20px;

  font-size: 24px;
  font-weight: 500;
}

.listing {
  width: 100%;
  height: 350px;

  margin: 30px 0;

  border: 1px solid #dedede;

  display: flex;
  justify-content: center;
  align-items: center;
}

.listing-image {
  width: 40%;
  height: 80%;
  margin-right: 20px;

  background-color: #dedede;
}

.listing-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 50%;
  height: 80%;
}

.listing:last-child {
  margin-bottom: 60px;
}

.listing-title {
  font-size: 20px;
}

.listing-info-buttons {
  width: 100%;
  height: 15%;

  display: flex;
  justify-content: space-between;
}

.listing-info-button {
  width: 30%;
  height: 100%;

  border: 1px solid #dedede;
  border-radius: 2px;
  background-color: #fff;
}

.listing-info-button:hover {
  background-color: #f7f7f7;
  transition: background .2s ease-in;
  cursor: pointer;
}

.preview-button{
  border-radius: 2px;
  background-color: #ff5a5f;
  border: 1px solid #ff5a5f;
  width: 30%;
  height: 100%;
  color: #fff;
  font-weight: 300;
}

.preview-button:hover {
  cursor: pointer;
  filter: brightness(130%);
  transition: filter .2s ease-in;
}

.spot-form-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 700px;

  font-family: sans-serif;

  border-bottom: 1px solid #dedede;
}

.display-none {
  display: none;
}

.close-spot-form {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 20px;
  width: 20px;

  margin: 20px;
  font-size: 16px;
  color: #484848;
}

.close-spot-form:hover {
  cursor: pointer;
}

.spot-form-image {
  height: 87%;
  margin-top: 18px;
  width: 45%;
  border-radius: 2.5px;
  background: url("https://res.cloudinary.com/ddgtwtbre/image/upload/v1478412229/sf-golden-gate-couple_fy0y0n.png");
  background-size: cover;
  background-position: 50% 50%;
}

.spotForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 55%;
  height: 90%;
}

.select-input {
  outline: none;

  -webkit-appearance: none;
  -webkit-border-radius: 0px;

  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;

  width: 50%;
  height: 45px;

  font-size: 15px;

  color: #484848;
  background-color: #fff;
}

.input-half {
  width: 50%;
  height: 45px;

  margin: 0;
  padding: 0;
  border: 0;

  border-radius: 2.5px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;

  font-size: 15px;
  color: #484848;
}

.input-half:nth-child(2) {
  border-left: 1px solid #dedede;
}

.spot-form-row {
  width: 80%;
  height: 45px;
  border-radius: 2.5px;

  margin: 0;
  padding: 0;
  border: 1px solid #dedede;

  font-size: 15px;

  display: flex;
  color: #484848;
}

.spot-form-row .input {
  width: 100%;
  height: 100%;
  border-radius: 2.5px;

  margin: 0;
  padding: 0;
  border: none;

  font-size: 15px;
  color: #484848;
}

.description {
  height: 140px;
  width: 80%;
}

.spot-form-description {
  overflow: auto !important;
  outline: none !important;

  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  resize: none;

  width: 100%;
  height: 100%;

  margin: 0;
  border: none;
  padding: 0px;

  font-size: 15px;
}

.button {
  background-color: #ff5a5f;
  border: 1px solid #ff5a5f;
  font-weight: 300;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  cursor: pointer;
  filter: brightness(130%);
  transition: filter .2s ease-in;
}

// Search

.search-container {
  display: flex;
  height: 100vh;
  // max-height: 610px;
  // height: 610px;
  // height: 100%;
  // width: 100%;
}

.filters-container {
  height: 45%;
  width: 100%;
  border-bottom: 1px solid #dedede;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: sans-serif;
}

.filters-row {
  width: 97%;
  height: 30%;

  border-bottom: 1px solid #eef0f0;

  display: flex;
  align-items: center;
}

.filters-row:last-child {
  height: 40%;
  border: 0;
}

.filters-row-left {
  height: 100%;
  width: 15%;
}

.filters-row-right {
  height: 100%;
  width: 85%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.filters-container h2 {
  color: #484848;
  font-size: 13.5px;

  margin: 10px;
}

.filters {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.filters-row-date select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  outline: none;

  padding: 0;
  border: none;
  margin: 0;

  height: 100%;
  width: 100%;

  background-color: #fff;
  font-size: 13px;
}

.filters-row-date {
  border: 1px solid #aaa;
  border-radius: 2px;

  width: 30%;
  height: 30px;
  padding: 4px;
}

.filters-row-date input {
  padding: 0;
  border: none;
  border-radius: 2px;
  margin: 0;

  height: 100%;
  width: 100%;

  background-color: #fff;
}

.react-datepicker__input-container {
  height: 100%;
  width: 100%;
}

.filters-row-roomtype {
  border: 1px solid #dcdedc;
  height: 30px;
  width: 30%;

  padding: 4px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #edefed;

  font-size: 14px;
}

.filters-row-roomtype input {
  // -webkit-appearance: none;
  -webkit-border-radius: none;

  height: 20px;
  width: 20px;
  border-radius: 2px;
  border: 1px solid #aaa;
  background-color: #fff;
}

.filters-row-price {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filters-row-right-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;

  height: 100%;
  width: 80%;
}

.filters-row-price-text {
  display: flex;
  justify-content: space-between;
}

.slider {
  height: 50px;
  width: 100%;

  display: flex;
  align-items: center;
}

.bar-0 {
  background-color: #ddd;
  margin-left: 2px;
  height: 2px;
}

.bar-1 {
  background-color: #00a699;
  height: 4.5px;
}

.bar-2 {
  background-color: #ddd;
  margin-right: 2px;
  height: 2px;
}

.handle {
  min-height: 20px;
  min-width: 20px;

  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 25px;

  height: 25px;
  width: 25px;
}

.results {
  width: 60%;
  height: 100vh;
  overflow-y: scroll;
}

.filtered-spots {
  width: 100%;
  height: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: space-around;
}

.spot-item {
  height: 275px;
  width: 45%;
  margin: 15px;
}

.spot-item:hover {
  cursor: pointer;
}

.search-result-item {
  height: 100%;
  width: 100%;
}

.search-item-spot-image {
  height: 80%;
  width: 100%;
  background-color: #dedede;
}

.search-item-user-image {
  min-height: 55px;
  min-width: 55px;

  height: 55px;
  width: 55px;

  background-color: #dedede;
  border-radius: 55px;
  border: 2px solid #fff;

  float: right;
  position: relative;
  right: 20px;
  bottom: 35px;
}

.search-result-item-info {
  font-family: sans-serif;

  height: 20%;
  width: 100%;
  padding: 10px 10px;

  color: #484848;
}

.search-result-item-info div {
  display: flex;
}

.search-result-item-info p {
  color: #a6a6a6;
  font-size: 13px;
  font-weight: 300;
  margin-right: 5px;
}

///////////////////////////
// REACT DATE PICKER CSS //
///////////////////////////

$border-color: #aeaeae;
$background-color: #f0f0f0;
$selected-color: #216ba5;
$highlighted-color: #3dcc4a;
$muted-color: #ccc;
$text-color: #000;

$font-size: .8rem;
$border-radius: .3rem;
$item-size: 1.7rem;
$day-margin: .166rem;
$triangle-size: 8px;
$datepicker__margin: .4rem;
$navigation-size: .45rem;

%triangle-arrow {
  margin-left: -$triangle-size;
  position: absolute;

  &,
  &::before {
    box-sizing: content-box;
    position: absolute;
    border: $triangle-size solid transparent;

    height: 0;
    width: 1px;
  }

  &::before {
    content: "";
    z-index: -1;
    border-width: $triangle-size;

    left: -$triangle-size;
    border-bottom-color: $border-color;
  }
}

%triangle-arrow-up {
  @extend %triangle-arrow;

  top: 0;
  margin-top: -$triangle-size;

  &,
  &::before {
    border-top: none;
    border-bottom-color: $background-color;
  }

  &::before {
    top: -1px;
    border-bottom-color: $border-color;
  }
}

%triangle-arrow-down {
  @extend %triangle-arrow;

  bottom: 0;
  margin-bottom: -$triangle-size;

  &,
  &::before {
    border-bottom: none;
    border-top-color: #fff;
  }

  &::before {
    bottom: -1px;
    border-top-color: $border-color;
  }
}

.react-datepicker {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: $font-size;
  background-color: #fff;
  color: $text-color;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  display: inline-block;
  position: relative;
}

.react-datepicker__triangle {
  position: absolute;
  left: 50px;
}

.react-datepicker__tether-element-attached-top .react-datepicker__triangle {
  @extend %triangle-arrow-up;
}

.react-datepicker__tether-element-attached-bottom .react-datepicker__triangle {
  @extend %triangle-arrow-down;
}

.react-datepicker__tether-element-attached-bottom.react-datepicker__tether-element {
  margin-top: -20px;
}

.react-datepicker__header {
  text-align: center;
  background-color: $background-color;
  border-bottom: 1px solid $border-color;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  padding-top: 8px;
  position: relative;
}

.react-datepicker__header__dropdown--select {
  margin-top: -16px;
}

.react-datepicker__year-dropdown-container--select,
.react-datepicker__month-dropdown-container--select {
  display: inline-block;
  margin: 0 2px;
}

.react-datepicker__current-month {
  margin-top: 0;
  color: #000;
  font-weight: bold;
  font-size: $font-size * 1.18;

  &--hasYearDropdown {
    margin-bottom: 16px;
  }
}

.react-datepicker__navigation {
  line-height: $item-size;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 10px;
  width: 0;
  border: $navigation-size solid transparent;
  z-index: 1;

  &--previous {
    left: 10px;
    border-right-color: $muted-color;

    &:hover {
      border-right-color: darken($muted-color, 10%);
    }
  }

  &--next {
    right: 10px;
    border-left-color: $muted-color;

    &:hover {
      border-left-color: darken($muted-color, 10%);
    }
  }

  &--years {
    position: relative;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;

    &-previous {
      top: 4px;
      border-top-color: $muted-color;

      &:hover {
        border-top-color: darken($muted-color, 10%);
      }
    }

    &-upcoming {
      top: -4px;
      border-bottom-color: $muted-color;

      &:hover {
        border-bottom-color: darken($muted-color, 10%);
      }
    }
  }
}

.react-datepicker__month-container {
  display: inline;
  float: left;
}

.react-datepicker__month {
  margin: $datepicker__margin;
  text-align: center;
}

.react-datepicker__week-number {
  color: $muted-color;
  display: inline-block;
  width: $item-size;
  line-height: $item-size;
  text-align: center;
  margin: $day-margin;
}

.react-datepicker__day-name,
.react-datepicker__day {
  color: $text-color;
  display: inline-block;
  width: $item-size;
  line-height: $item-size;
  text-align: center;
  margin: $day-margin;
}

.react-datepicker__day {
  cursor: pointer;

  &:hover {
    border-radius: $border-radius;
    background-color: $background-color;
  }

  &--today {
    font-weight: bold;
  }

  &--highlighted {
    border-radius: $border-radius;
    background-color: $highlighted-color;
    color: #fff;

    &:hover {
      background-color: darken($highlighted-color, 5%);
    }
  }

  &--selected,
  &--in-selecting-range,
  &--in-range {
    border-radius: $border-radius;
    background-color: $selected-color;
    color: #fff;

    &:hover {
      background-color: darken($selected-color, 5%);
    }
  }

  &--in-selecting-range:not(&--in-range) {
    background-color: rgba($selected-color, .5);
  }

  &--in-range:not(&--in-selecting-range) {
    .react-datepicker__month--selecting-range & {
      background-color: $background-color;
      color: $text-color;
    }
  }

  &--disabled {
    cursor: default;
    color: $muted-color;

    &:hover {
      background-color: transparent;
    }
  }
}

.react-datepicker__input-container {
  position: relative;
  display: inline-block;
}

.react-datepicker__year-read-view {
  width: 50%;
  left: 25%;
  position: absolute;
  bottom: 25px;
  border: 1px solid transparent;
  border-radius: $border-radius;

  &:hover {
    cursor: pointer;

    .react-datepicker__year-read-view--down-arrow {
      border-top-color: darken($muted-color, 10%);
    }
  }

  &--down-arrow {
    @extend %triangle-arrow-down;
    border-top-color: $muted-color;
    margin-bottom: 3px;
    left: 5px;
    top: 9px;
    position: relative;
    border-width: $navigation-size;
  }

  &--selected-year {
    right: $navigation-size;
    position: relative;
  }
}

.react-datepicker__year-dropdown {
  background-color: $background-color;
  position: absolute;
  width: 50%;
  left: 25%;
  top: 30px;
  text-align: center;
  border-radius: $border-radius;
  border: 1px solid $border-color;

  &:hover {
    cursor: pointer;
  }

  &--scrollable {
    height: 150px;
    overflow-y: scroll;
  }
}

.react-datepicker__year-option {
  line-height: 20px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;

  &:first-of-type {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }

  &:last-of-type {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  &:hover {
    background-color: $muted-color;

    .react-datepicker__navigation--years-upcoming {
      border-bottom-color: darken($muted-color, 10%);
    }

    .react-datepicker__navigation--years-previous {
      border-top-color: darken($muted-color, 10%);
    }
  }

  &--selected {
    position: absolute;
    left: 30px;
  }
}

.react-datepicker__close-icon {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: inline-block;
  height: 0;
  outline: 0;
  padding: 0;
  vertical-align: middle;

  &::after {
    background-color: $selected-color;
    border-radius: 50%;
    bottom: 0;
    box-sizing: border-box;
    color: #fff;
    content: "\00d7";
    cursor: pointer;
    font-size: 12px;
    height: 16px;
    width: 16px;
    line-height: 1;
    margin: -8px auto 0;
    padding: 2px;
    position: absolute;
    right: 7px;
    text-align: center;
    top: 50%;
  }
}

.react-datepicker__today-button {
  background: $background-color;
  border-top: 1px solid $border-color;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  padding: 5px 0;
}

.react-datepicker__tether-element {
  z-index: 2147483647;
}
