// Place all the styles related to the api/spots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Spot Component

.spot-head {
  width: 100%;
  height: 604px;
  background-color: whitesmoke;

  display: flex;
  align-items: flex-end;

  border-bottom: 2px solid #dedede;
}

.all-photos-button {
  width: 120px;
  height: 35px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #aaa;
  border-radius: 4px;
  margin: 10px 10px;

  background-color: #fff;

  font-family: sans-serif;
  font-size: 14px;
}

.all-photos-button:hover {
  background-color: #f7f7f7;
  transition: background .2s ease-in;
  cursor: pointer;
}

.spot-info-container {
  display: flex;

  background-color: red;
  height: 250px;
  width: 100%;
}

.spot-info {
  width: 55%;
  height: 100%;
  background-color: blue;
}

.price-info {
  width: 25%;
  height: 375px;
  background-color: yellow;
  margin-top: -40px;
}

.price-info-head {
  height: 12%;
  width: 100%;
  background-color: grey;
}

.price-info-form {
  width: 100%;
  height: 88%;
  background-color: green;
}

.margin-left {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  width: 10%;
  height: 100%;
}

.margin-right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;

  width: 10%;
  height: 100%;
}

.spot-body {
  display: flex;
}

.detail-info {
  width: 55%;
  height: 450px;
  background-color: grey;
}

.spot-body-placeholder {
  width: 25%;
}


// Host Component

.host-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-bottom: 2px solid #dedede;

  width: 100%;
  height: 604px;
  background-color: whitesmoke;

  font-family: sans-serif;
}

.host-head:hover {
  cursor: pointer;
  filter: brightness(97%);
}

.host-head h2 {
  color: #eaeaea;
}

.host-head:hover h2 {
  color: #fff;
}

.host-body {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 400px;
  width: 100%;
}

.listings {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: 80%;
  height: 100%;

  font-family: sans-serif;
}

.listings-ul {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
}

.listings-header {
  margin-top: 80px;
  margin-bottom: 20px;

  font-size: 24px;
  font-weight: 500;
}

.listing {
  width: 100%;
  height: 350px;

  margin: 30px 0;

  border: 1px solid #dedede;

  display: flex;
  justify-content: center;
  align-items: center;
}

.listing-image {
  width: 40%;
  height: 80%;
  margin-right: 20px;

  background-color: #dedede;
}

.listing-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 50%;
  height: 80%;
}

.listing:last-child {
  margin-bottom: 60px;
}

.listing-title {
  font-size: 20px;
}

.listing-info-buttons {
  width: 100%;
  height: 15%;

  display: flex;
  justify-content: space-between;
}

.listing-info-button {
  width: 30%;
  height: 100%;

  border: 1px solid #dedede;
  background-color: #fff;
}

.listing-info-button:hover {
  background-color: #f7f7f7;
  transition: background .2s ease-in;
  cursor: pointer;
}

.spot-form-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 700px;

  font-family: sans-serif;

  border-bottom: 2px solid #dedede;
}

.display-none {
  display: none;
}

.closeSpotForm {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 20px;
  width: 20px;

  margin: 20px;
  font-size: 17px;
  color: #aaa;
}

.closeSpotForm:hover {
  cursor: pointer;
}

.spotForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: 30%;
  height: 80%;

  border: 1px solid #dedede;
}

.room-type {
  outline: none;

  -webkit-appearance: none;
  -webkit-border-radius: 0px;

  border-radius: 2.5px;

  margin: 0;
  padding: 0;
  border: 1px solid #dedede;

  width: 100%;
  height: 50px;
}

.spot-form-label {
  margin: 0;
  padding: 0;

  width: 90%;
  height: 70px;

  font-size: 14px;
}

.bed-guest-container {
  width: 90%;
  height: 50px;

  display: flex;
  justify-content: space-between;
}

.bed-guest-input {
  margin: 0;
  padding: 0;
  border: 1px solid #aaa;
  border-radius: 0;

  width: 45%;
  height: 100%;
}

.location {
  height: 150px;
  width: 90%;
}

.location-input {
  width: 100%;
  height: 50px;

  margin: 0;
  padding: 0;
}

.location-input-half {
  width: 45%;
  height: 50px;

  margin: 0;
  padding: 0;
  border: 1px solid #dedede;
}

.search-container {
  display: flex;
  max-height: 610px;
  height: 610px;
}

.filters {
  height: 55%;
  width: 100%;
  border-bottom: 1px solid #dedede;
}

.results {
  width: 60%;
  height: 610px;
  overflow-y: scroll;
}

.filtered-spots {
  width: 100%;
  height: 100%;
  background-color: green;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: space-around;
}

.spot-item {
  height: 275px;
  width: 45%;

  margin: 15px;
}

.map-container {
  height: 100%;
  width: 40%;
}

.search-result-item {
  height: 100%;
  width: 100%;
  border: 1px solid black;
}

.search-result-item-image {
  height: 80%;
  width: 100%;
  background-color: #aaa;
}

.search-result-item-info {
  height: 20%;
  width: 100%;
  background-color: blue;
}
