.body {
  width: 100%;
  max-width: 1700px;
  height: 100%;
  margin: 40px auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#body-title {
  font-size: 27px;
  font-weight: 700;
  letter-spacing: 1px;
}

.city-links {
  width: 80%;
  height: 90%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin: 0 auto;
}

.city-link {
  width: 300px;
  height: 300px;

  margin: 40px auto 0 auto;
  // border: 1px solid #dedede;
}

.city-link-cover {
  height: 100%;
  width: 100%;
  transition: background .2s ease-in;

  display: flex;
  justify-content: center;
  align-items: center;
}

.city-link-cover:hover {
  background: rgba(255,255,255,0.2);
  transition: background .2s ease-in;
  cursor: pointer;
}

.city-name {
  color: white;
  text-shadow: #000 0 0 10px;
  font-family: sans-serif;
  font-size: 30px;
  letter-spacing: 1px;
}

.city-los-angeles {
  background: url("https://res.cloudinary.com/ddgtwtbre/image/upload/c_scale,w_1000/v1481829540/couchbnb/los_angeles.png");
  background-size: cover;
  background-position: 50% 50%;
}

.city-san-fran {
  background: url("https://res.cloudinary.com/ddgtwtbre/image/upload/v1481829551/couchbnb/san_fran.png");
  background-size: cover;
  background-position: 50% 50%;
}

.city-new-york {
  background: url("https://res.cloudinary.com/ddgtwtbre/image/upload/v1481829752/couchbnb/new_york.png");
  background-size: cover;
  background-position: 50% 50%;
}

.city-seattle {
  background: url("https://res.cloudinary.com/ddgtwtbre/image/upload/c_scale,w_700/v1481831640/couchbnb/seattle.png");
  background-size: cover;
  background-position: 50% 50%;
}

.city-seoul {
  background: url("https://res.cloudinary.com/ddgtwtbre/image/upload/v1481829554/couchbnb/seoul.png");
  background-size: cover;
  background-position: 50% 50%;
}

.city-london {
  background: url("https://res.cloudinary.com/ddgtwtbre/image/upload/c_scale,w_700/v1481832294/couchbnb/london.png");
  background-size: cover;
  background-position: 50% 50%;
}

.city-vegas {
  background: url("https://res.cloudinary.com/ddgtwtbre/image/upload/v1506127615/vegas_morz2z.png");
  background-size: cover;
  background-position: 50% 50%;
}

.city-dubai {
  background: url("https://res.cloudinary.com/ddgtwtbre/image/upload/v1481831594/couchbnb/dubai.png");
  background-size: cover;
  background-position: 50% 50%;
}

.city-amsterdam {
  background: url("https://res.cloudinary.com/ddgtwtbre/image/upload/c_scale,w_700/v1481832299/couchbnb/amsterdam.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.city-rome {
  background: url("https://res.cloudinary.com/ddgtwtbre/image/upload/v1505165742/dj2zjaz75ibbozeffdlx.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.city-sydney {
  background: url("https://res.cloudinary.com/ddgtwtbre/image/upload/v1506127420/sydney_aodwk6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.city-paris {
  background: url("https://res.cloudinary.com/ddgtwtbre/image/upload/v1506127419/paris_uelxvz.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
