// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import './navbar/navbar.scss';
@import './layout/layout.scss';

#splash {
  background-color: #fff;
}

.main-pic {
  width: 100%;
  height: calc(100vh - 60px);

  // background: url('https://res.cloudinary.com/ddgtwtbre/image/upload/v1506479255/splash_head_uhqad3.png');
  // background-position: bottom;
  // background-size: contain;
  // background-repeat: no-repeat;

  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.banner {
  font-size: 50px;
  font-family: sans-serif;
  font-weight: 300;
  color: #555;

  max-width: 550px;
  margin-bottom: 30px;
}

.banner-white {
  font-size: 50px;
  font-family: sans-serif;
  font-weight: 300;
  color: #fff;

  max-width: 550px;
  margin-bottom: 30px;
}

.links-container {
  width: 60%;
  height: 30px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  font-family: sans-serif;
  font-size: 14px;
}
