// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar {
  width: 100%;
  height: 60px;

  border-bottom: 2px solid #DEDEDE;

  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.logo {
  font-family: 'Permanent Marker', cursive;
  font-size: 23px;
  padding: 10px 15px;
}

.header-login {
  width: 100px;

  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 30px;

  padding-top: 12px;
  border: 1px solid #287fb8;
  border-radius: 4px;

  text-align: center;
}

.header-login p {
  color: #287fb8;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.header-login:hover {
  background-color: #f5f5f5;
  cursor: pointer;
  transition: background .2s ease-in
}

.main-pic {
  width: 100%;
  height: 604px;
  background: url("http://res.cloudinary.com/ddgtwtbre/image/upload/v1478111650/nyc-skyline_bkbsej.jpg
");

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.signup {
  width: 230px;
  height: 48px;

  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 30px;

  border-radius: 4px;
  background-color: #eb6542;

  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

.signup p {
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.signup:hover {
  background-color: #ea5432;
  transition: background .2s ease-in;
  cursor: pointer;
}

.guest-login {
  width: 230px;
  height: 48px;

  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 7px;

  border-radius: 4px;
  background-color: #3b5998;

  display: flex;
  align-items: center;
  justify-content: center;
}

.guest-login p {
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.guest-login:hover {
  background-color: #3a4898;
  transition: background .2s ease-in;
  cursor: pointer;
}

.session-links {
  display: flex;
  flex-direction: row;
}

.banner {
  font-size: 50px;
  font-family: sans-serif;
  font-weight: 300;
  color: white;

  margin-bottom: 30px;
}

.ReactModal__Content {
  max-width: 300px;
  max-height: 350px;
  width: 300px;
  height: 350px;
  margin: auto;
}
